# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
/venv/
/tf2/train-labels-idx1-ubyte.gz
/tf2/t10k-images-idx3-ubyte.gz
/tf2/t10k-labels-idx1-ubyte.gz
/tf2/train-images-idx3-ubyte.gz
